.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px 0px;

    border-bottom: 1px solid var(--accent-color);
}

.line-text, .line-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line-subtitle {
    color: #888;
    font-size: 10px;
    font-weight: 100
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: var(--font-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-color);  
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color);  
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}