<div class="container">
    <div class="item">
        <app-header
            (onShowStats)="showStatistics()"
            (onShowSettings)="showSettings()"
            (onShowHowToPlay)="showHowToPlay()"
        ></app-header>
    </div>
    <div class="item">
        <app-game
            [pressedKey]="pressedKey"
            [resetColors]="resetColors"
        ></app-game>
    </div>
</div>
<app-modal-popup
    [ngClass]="popupClass"
    [title]="popupTitle"
    [gameOver]="isGameOver"
    (onDismiss)="dismissPopup()"
    (onNewGame)="newGame()"
></app-modal-popup>