<div class="container">
    <div class="section">
        <p>Guess the word in six tries.</p>
        <br/>
        <p>Each guess must be a valid five-letter word. Hit the enter button to submit.</p>
        <br/>
        <p>After each guess, the color of the tiles will change to show how close your guess was to the word.</p>
    </div>
    <div class="section">
        <h4>Examples</h4>
        <br/>
        <div class="word">
            <div class="letter">T</div>
            <div class="letter">R</div>
            <div class="letter">A</div>
            <div class="letter">I</div>
            <div class="letter">N</div>
        </div>
        <br/>
        <p>The letter <b>T</b> is in the word and in the correct spot.</p>
        <br/>
        <div class="word">
            <div class="letter">R</div>
            <div class="letter">O</div>
            <div class="letter">U</div>
            <div class="letter">G</div>
            <div class="letter">H</div>
        </div>
        <br/>
        <p>The letter <b>G</b> is in the word but in the wrong spot.</p>
        <br/>
        <div class="word">
            <div class="letter">U</div>
            <div class="letter">L</div>
            <div class="letter">T</div>
            <div class="letter">R</div>
            <div class="letter">A</div>
        </div>
        <br/>
        <p>The letter <b>L</b> is not in the word in any spot.</p>
        <br/>
        <div class="word">
            <div class="letter">G</div>
            <div class="letter">R</div>
            <div class="letter">E</div>
            <div class="letter">E</div>
            <div class="letter">D</div>
        </div>
        <br/>
        <p>The letter <b>E</b> is in the word twice. The first one is in the wrong spot. </p>
    </div>
</div>
