@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-property: background-color, border-color;
    transition-duration: 750ms;
    user-select: none;
    -webkit-overflow-scrolling: touch;
}

body{
    font-family: 'Baloo 2', monospace;
    background-color: var(--bg-color);
    color: whitesmoke;
    color: var(--font-color);
    overflow: hidden;
}

:root {
    --bg-color: #151515;
    --key-color: #666;
    --letter-unchecked-color: whitesmoke;
    --letter-checked-color: whitesmoke;
    --accent-color: #333;
    --default-color: #333;
    --primary-color: #3a5;
    --secondary-color: #e93;
    --font-color: whitesmoke;
    --icon-hover-color: #ccc;
    --button-shadow-default: #333;
    --button-shadow-pressed: #222;
}

[data-theme="light"] {
    --bg-color: #d5d5d5;
    --key-color: #aaa;
    --letter-unchecked-color: var(--font-color);
    --letter-checked-color: var(--bg-color);
    --accent-color: #b5b5b5;
    --default-color: #666;
    --primary-color: #3a5;
    --secondary-color: #e93;
    --font-color: #151515;
    --icon-hover-color: #333;
    --button-shadow-default: #999;
    --button-shadow-pressed: #666;
}

[high-contrast-mode="on"] {
    --primary-color: #da792a;
    --secondary-color: #5199eb;
}